*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

header{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://marketingweek.imgix.net/content/uploads/2017/05/12103909/Coding-body-image-.jpg?auto=compress,format&q=60&w=750&h=);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul{
  float: right;
  list-style-types: none;
  margin-top: 40px;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid transparent
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: #fff;
  color: black;
}

.logo img{
   float: left;
   width: 80px;
   margin-top: 10px;
   margin-left:10px;
  
}

.main{
  max-width: 1200px;  
}

ul li.active a{
   background-color: #fff;
  color: black;
}
  
.title{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.title h1{
  color: #fff;
  font-size: 70px;
  
}


iframe{
  position: absolute;
  top: 60%;
  left: 50%;
  margin-top: 45px;
  height: 225px;
  width: 350px;
  transform: translate(-50%,-50%);
}